.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.smurf-card{
  border: 1px black solid;
  margin: 10px;
  width: 30%;


}

.smurf-list-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  width:60%;
}
.smurf-wrapper{
  border: 1px black solid;
  margin: 50px;
  width: 30%;




}